.gameOverDiv {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  height: 130vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.img6 {
  width: 700px;
}
.img7 {
  margin-right: 10px;
}
.button1 {
  background-color: #cf60c8;
  border-radius: 10px;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-family: Roboto;
  font-size: 20px;
  height: 37px;
  border-width: 0px;
  align-items: center;
  cursor: pointer;
}
